.content{
  max-width: 960px;
  margin: 0 auto; 
  
}

.header{
background-color:darkslategray;
max-width: 960px;
font-weight: bold;
font: 1em sans-serif;
color: #eeee;
height: 100px;
border-radius: 20px;
}


footer {
    background-color:darkslategray; 
    margin-top: 150px;
    height: 80px;
    clear: both;
    border-radius: 20px;
}
#copyright{
    text-align: center;
    color: #fff;
    
}
#copyright2 {
    color: gold;
    
    }

img{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 5px #222;
}
.name{
margin-left: 150px;
text-justify: center;

}

.lesson{
    margin-top: 100px;
    margin-right: 20px;
    padding: bottom 4px;
    border-bottom: 2px solid lightgray;
}

