body{
 font-family: Arial, Helvetica, sans-serif;   
}
header{
    background-color: rgb(83, 18, 18);
    height:150px;
    border-radius: 10px;
    
}
footer{
     background-color:  rgb(83, 18, 18);
     color:white;
     border-radius: 10px;
     height: 100px;
}
#h-img{
    display:flex;
    justify-content: flex-end;
    /*width: 165px;*/
    
}